header{
  background-color:#1c2833;
  height: 100px;
  text-align: center;
}

nav{
  background-color: #1c2833;
  padding-top: 70px;
  color: white;
  }

img{
  margin-bottom: 10px;
  }

h1{
 color: #f1c40f;
}
